body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
}

.tile {
    width: 40px;
    height: 40px;
    background-color: red;
    text-align: center;
}